vim/.vim/pack/default/start/gruvbox
vim/.vim/black
vim/.vim/plugged/black
vim/.vim/plugged/auto-pairs
vim/.vim/plugged/hyper.vim
vim/.vim/plugged/jedi-vim
vim/.vim/plugged/vim-highlightedyank
vim/.vim/plugged/vim-mucomplete
vim/.vim/plugged/vim-terraform
vim/.vim/pack/default/start/onedark
vim/.vim/plugged/vim-polyglot
